@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-brand: #7e9ebb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: var(--font-geist-sans), sans-serif; */
  font-family: var(--font-titillium-web), sans-serif;
}

@keyframes slideUpFadeIn {
  from {
    filter: blur(10px);
    opacity: 0;
    transform: translateY(60px);
  }
  to {
    filter: blur(0px);
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-up-fade-in {
  animation: slideUpFadeIn 1s ease-out forwards;
  opacity: 0;
}

.animate-on-scroll {
  opacity: 0;
  transform: translateY(60px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.animate-on-scroll.visible {
  opacity: 1;
  transform: translateY(0);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 0.3s ease-out forwards;
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: scale(0.9) translateY(20px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.animate-modal-fade-in {
  animation: modalFadeIn 0.4s ease-out forwards;
}

.announcement-modal-background {
  background-image: linear-gradient(
    to top,
    #3f51b1 0%,
    /* #5a55ae 13%, */ /* #7b5fac 25%, */ #8f6aae 38%,
    #a86aa4 50%,
    #cc6b8e 62%,
    #f18271 75%,
    #f3a469 87%,
    #f7c978 100%
  );
}
